.city-stock {
  margin-bottom: 16px;
  border-bottom: 1px solid $color-divider;
  padding-bottom: 16px;

  .city-info-wrapper {
    display: flex;
    justify-content: space-between;

    .city-info {
      display: flex;
      flex-direction: column;

      .city-name {
        gap: 8px;
        display: flex;
        align-items: center;
        font-weight: 700;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }

    .cart-button {
      background: $color-brand-primary;
      color: white;
      border-radius: 8px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      max-height: 32px;
      min-width: 137px;
      border: none;
      justify-content: space-around;
      box-sizing: border-box;

      img {
        width: 16px;
        height: 16px;
      }
    }

    .counter {
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-around;
      width: 137px;
      border-radius: 8px;
      margin: -1px;
      border: 1px solid $color-brand-primary;

      button {
        background: none;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1;
        width: 24px;
        height: 32px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
      }

      span {
        font-size: 14px;
        font-weight: 500;
        min-width: 24px;
        text-align: center;
      }
    }
  }

  .delivery-wrapper {
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-top: 12px;

    .label {
      color: $color-black-secondary;
      font-size: 14px;

      .value {
        color: $color-black-primary;
        font-weight: 400;
      }

      .green {
        color: $color-success-primary;
      }
    }
  }
}