$color-brand-primary: #075095;
$color-secondary: #E6ECF1;
$color-gray-light: #E6E7E9;
$color-divider: #E1E5EB;
$color-black-primary: #01101E;
$color-black-secondary: #B3B7BC;
$color-success-primary: #50B946;
$color-white: #fff;