
.product-container {
  background: #FFFFFF;
  font-family: 'Inter', sans-serif;
  max-width: 480px;
  margin: 0 auto;

}

.gallery-section {
  position: relative;
  height: 300px;
  background: #F6F6F6;


  .gallery-image {
    padding: 65px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-button {
    position: absolute;
    top: 16px;
    background: transparent;
    border: none;

    &.back-button {
      left: 10px;
    }

    &.favorite-button {
      right: 10px;
    }
  }

  .indicators {
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 16px;
    width: 100%;

    div {
      width: 24px;
      height: 2px;
      background: #E1E5EB;
      border-radius: 1px;

      &.active {
        background: #075095;
      }
    }
  }
}

.price-section {
  .price-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 24px;

    .price {
      font-weight: 700;
      font-size: 20px;
      color: #01101E;
    }

    .bonus {
      gap: 8px;
      display: flex;
      align-items: center;
      color: #50B946;
      font-weight: 700;
    }
  }

  .city-stock {
    margin-bottom: 16px;
    border-bottom: 1px solid #E1E5EB;
    padding-bottom: 16px;

    .city-info-wrapper {
      display: flex;
      justify-content: space-between;


      .city-info {
        display: flex;
        flex-direction: column;

        .city-name {
          gap: 8px;
          display: flex;
          align-items: center;
          font-weight: 700;
        }
      }
    }

    .delivery-wrapper {
      flex-direction: column;
      display: flex;
      gap: 10px;
    }

    .label {
      color: #B3B7BC;
      font-size: 14px;

      .value {
        color: #01101E;
        font-weight: 400;
      }

      .green {
        color: #50B946;
      }
    }

    .cart-button {
      background: #075095;
      color: white;
      border-radius: 8px;
      padding: 8px 16px;
      display: flex;
      align-items: center;
      gap: 8px;
      max-height: 32px;
      min-width: 137px;
      border: none;
      justify-content: space-around;
    }

    .counter {
      display: flex;
      align-items: center;
      gap: 8px;


      button {
        background: #E6ECF1;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }
  }
}

.tabs-section {
  margin: 24px 0 24px 16px;
  overflow: visible;
  .tabs-scroll {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari */
    }

    button {
      flex-shrink: 0;
      padding: 12px 32px;
      background: #E6E7E9;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      text-align: center;


      &.active {
        background: #E6ECF1;
        color: #075095;
      }
    }
  }
}

.tab-content{
  padding-top: 24px;
  padding-right: 16px;
}

.info-wrapper {
  padding: 0 16px;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding: 24px 0;

  .header {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    color: #01101E;
    padding-right: 30px;
    margin-bottom: 16px;
  }

  .details {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;

    div {
      margin-top: 12px;
      color: #B3B7BC;

      span {
        color: #01101E;
      }
    }
  }
}

.product-footer {
  display: flex;
  justify-content: space-around;
  padding: 6px 12px;
  background-color: #fff;
  border-top: 1px solid #ddd;

  .footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #333;

    img {
      width: 32px;
      height: 32px;
    }

    .footer-name {
      font-family: Nunito, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      margin-top: 4px;
    }

    span {
      text-align: center;
    }
  }
}

.spec-table {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding-bottom: 8px;

  .spec-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    width: 44%;
  }

  .spec-value {
    white-space: pre-wrap;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #000;
  }
}

.grey {
  color: #B3B7BC;
}