<div class="product-container">
    <div class="gallery-section">
        <div class="gallery-image"
             (touchstart)="onTouchStart($event)"
             (touchend)="onTouchEnd($event)"
             [style.backgroundImage]="'url(' + images[currentImageIndex] + ')'">
            <button class="icon-button back-button">
                <img src="assets/icons/back-arrow.svg" alt="Back">
            </button>
            <button class="icon-button favorite-button">
                <img src="assets/icons/heart.svg" alt="Favorite">
            </button>
        </div>
        <div class="indicators">
            <div *ngFor="let img of images; let i = index"
                 [class.active]="i === currentImageIndex"
                 (click)="switchImage(i)"></div>
        </div>
    </div>
    <div class="info-wrapper">
        <div class="info-section">
            <span class="header">Ключ комбинированный 27мм (Chrome vanadium) на держателе сатинированный 1/10 (ER-31027) ЭВРИКА</span>
            <div class="logo">
                <img src="assets/images/logo.jpg" alt="Logo">
            </div>
            <div class="details">
                <div class="grey">Артикул: <span>ФТ-305.174</span>
                </div>
                <div class="grey">Код поставщика: <span>00000030692</span></div>
            </div>
        </div>

        <!-- Блок 3: Цена и корзина -->
        <div class="price-section">
            <div class="price-info">
                <div class="price">15 341,00 ₽</div>
                <div class="bonus">
                    <img src="assets/icons/coin.svg" alt="Bonus">
                    + 20,79 баллов
                </div>
            </div>

            <div *ngFor="let city of cities" class="city-stock">
                <div class="city-info-wrapper">
                    <div class="city-info">
                      <span class="city-name">
                        {{ city.name }}
                          <img src="assets/icons/details.svg" alt="Details">
                      </span>
                    </div>
                    <button *ngIf="!inCart" (click)="toggleCart()" class="cart-button">
                        В корзину
                        <img src="assets/icons/cart.svg" alt="Cart">
                    </button>
                    <div *ngIf="inCart" class="counter">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                </div>
                <div class="delivery-wrapper">
                    <span class="label">В наличии: <span class="value">{{ city.stock }} шт.</span></span>
                    <div class="label">
                        Дата поставки:
                        <span [ngClass]="{ 'value': true, 'green': city.isFastDelivery }">
                        {{ city.date }}
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Блок 4: Табы -->
    </div>

    <div class="tabs-section">
        <div class="tabs-scroll">
            <button *ngFor="let tab of ['Описание', 'Характеристики', 'Отзывы']"
                    [class.active]="activeTab === tab.toLowerCase()"
                    (click)="setActiveTab(tab.toLowerCase())">
                {{ tab }}
            </button>
        </div>

        <!-- Контент табов -->
        <div [ngSwitch]="activeTab" class="tab-content">
            <div *ngSwitchCase="'описание'" class="description">
                <div class="spec-table">
                    <div *ngFor="let item of data" class="spec-row">
                        <div class="grey spec-name">{{ item.name }}</div>
                        <div class="spec-value" [innerText]="item.value"></div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'характеристики'">
                <!-- Характеристики -->
            </div>
            <div *ngSwitchCase="'отзывы'">
                <!-- Отзывы -->
            </div>
        </div>
    </div>

        <div class="product-footer">
            <div class="footer-button">
                <img src="assets/icons/catalog.svg" alt="Catalog">
                <span class="footer-name">Каталог</span>
            </div>
            <div class="footer-button">
                <img src="assets/icons/delivery.svg" alt="Delivery">
                <span class="footer-name">Заказы</span>
            </div>
            <div class="footer-button">
                <img src="assets/icons/news.svg" alt="News">
                <span class="footer-name">Новости</span>
            </div>
            <div class="footer-button">
                <img src="assets/icons/big-cart.svg" alt="Cart">
                <span class="footer-name">Корзина</span>
            </div>
            <div class="footer-button">
                <img src="assets/icons/profile.svg" alt="Profile">
                <span class="footer-name">Профиль</span>
            </div>
        </div>
</div>