<div class="gallery-section">
    <div class="gallery-image"
         (touchstart)="onTouchStart($event)"
         (touchend)="onTouchEnd($event)"
         [style.backgroundImage]="'url(' + images[currentImageIndex] + ')'">
        <button class="icon-button back-button">
            <img src="assets/icons/back-arrow.svg" alt="Back">
        </button>
        <button class="icon-button favorite-button">
            <img src="assets/icons/heart.svg" alt="Favorite">
        </button>
        <img *ngIf="currentImageIndex === 0" class="sticker" src="assets/images/orange.png" alt="Icon">
    </div>
    <div class="indicators">
        <div *ngFor="let img of images; let i = index"
             [class.active]="i === currentImageIndex"
             (click)="switchImage(i)">
        </div>
    </div>
</div>